<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <main>
            <section>
                <form id="form" class="">
                    <label>Article URL</label>
                    <input id="input" type="url" name="input" value=""placeholder="URL">
                    <input type="submit" name="" value="submit">
                </form>
            </section>

            <section>
                <strong>Results:</strong>
                <div id="results">
                    <div id="subjectivity">
                        <span></span><p></p>
                    </div>
                    <div id="agreement">
                        <span></span><p></p>
                    </div>
                    <div id="score_tag">
                        <span></span><p></p>
                    </div>
                    <div id="confidence">
                        <span></span><p></p>
                    </div>
                    <div id="irony">
                        <span></span><p></p>
                    </div>
                </div>
            </section>
        </main>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
